.search-input {
    display: flex;
    column-gap: 2rem;
    background-color: var(--dark-blue);
    padding: 1.5rem 2.5rem;
    border-radius: .5rem;
    
}

.input {
    width: 100%;
    background: none;
    border: none;
    color: var(--white);

}

input:focus {
    outline: none;
}