.main-header {
    color : var(--white);
   

    padding: 3rem 1rem;
    display: flex;
    justify-content: space-between;
}

.main-header.dark {
    background-color: var(--dark-blue);
}

.main-header.light {
    background-color: var(--white);
}


.main-header.dark,
.header-button.dark {
    color : var(--white);
}

.header-title {
    letter-spacing: .01rem;
}

.header-button {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}