.countries {
    max-width: 125rem;
    margin: 0 auto;
}

.countries-header {

    margin-bottom: 4rem;
}



.countries-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    justify-items: center;
    grid-gap: 7rem;
}

.countries-list > * {
    max-width: 25rem;
}


@media screen and (max-width: 37.5rem) {
    .countries-list {
        justify-items: center;
    }

    


}